* {
  box-sizing: border-box;
}
body {
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  background: linear-gradient(-30deg, #64a4e9, #be49dc, #ed66d2, #f5ea4d);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
